/* Прячем сам квадрат чекбокса */
.btn-check { display: none; }

.attendance-wrapper { height: 35px; display: flex; }

.attendance-label {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: bold;
    color: transparent; /* Текст скрыт по умолчанию */
    transition: 0.2s;
}

/* Эффект при наведении */
.attendance-label:hover { background: #f8f9fa; color: #dee2e6; }

/* КОГДА В БАЗЕ ЕСТЬ НБ (чекбокс отмечен) */
.btn-check:checked + .attendance-label {
    background-color: #ffebee; /* Нежно-красный фон */
    color: #d32f2f;            /* Яркий красный текст НБ */
}